<a href="https://colab.research.google.com/github/MichelaPascale/AI_Python/blob/main/Homework/Homework6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Homework 6**

##**Ex 1**

Considerate una tabella 8 x 8 da usare come scacchiera in un gioco
da tavolo. Definirla come array realizzato mediante liste Python.
Usando due cicli annidati, inizializzare la tabella in modo che
contenga valori 0 e 1 alternati, come le caselle bianche e nere nella
scacchiera per il gioco degli scacchi.

In [ ]:
import array

In [ ]:
def pari(x):
  return x % 2 == 0

In [ ]:
scacchiera = list()

round = 1
riga = 0
val = 0

while riga <= 1:
  righe = list()
  colonna = 0

  while colonna <= 7:

    if pari(colonna):
      if pari(round):
        val = 1
      else:
        val = 0
    else:
      if pari(round):
        val = 0
      else:
        val = 1
    
    righe.append(val)
    colonna = colonna + 1
  
  round = round + 1
  riga = riga + 1
  scacchiera.append(righe)

sc = scacchiera * 4
print(sc)

[[0, 1, 0, 1, 0, 1, 0, 1], [1, 0, 1, 0, 1, 0, 1, 0], [0, 1, 0, 1, 0, 1, 0, 1], [1, 0, 1, 0, 1, 0, 1, 0], [0, 1, 0, 1, 0, 1, 0, 1], [1, 0, 1, 0, 1, 0, 1, 0], [0, 1, 0, 1, 0, 1, 0, 1], [1, 0, 1, 0, 1, 0, 1, 0]]

In [ ]:
scac = np.array(sc)
scac.reshape(8,8)

array([[0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0]])

##**Ex 2**

Data una lista di numeri, sostituire il valore minimo con lo zero. Se
lo stesso valore minimo ricorre più volte, sostituirne soltanto uno.
Trovare una soluzione senza scandire esplicitamente la lista con cicli
iterativi.

In [ ]:
def del_min(l):
  l.remove(min(l))
  print(l)

In [ ]:
lista = [4, 32, 5, 7, 2, 4, 5, 9, 8, 2, 30]

del_min(lista)

In [ ]:
lista = [4, 32, 5, 7, 2, 4, 5, 9, 8, 2, 30]

min = min(lista)
lista.remove(min)
print(lista)

[4, 32, 5, 7, 4, 5, 9, 8, 2, 30]

##**Ex 3**

Descrivere l’obiettivo raggiunto dalla seguente funzione:

In [12]:
import random

In [14]:
def mistero(l, n):
  risultato = []
  for i in range(l):
    risultato.append(random.randint(0, n))
  return risultato

mistero(l,n) ritorna una lista di lunghezza l e con valori interi randomici nell'intervallo compreso tra 0 e n (0 e n compresi)

In [16]:
mistero(4,5) #OK!

[0, 5, 5, 3]

##**Ex 4**

Scrivere una funzione riempi che assegni un valore dato a tutti gli
elementi di una lista. Ad esempio, l’invocazione riempi(l, 6) deve
assegnare il valore 6 a tutti gli elementi della lista l.

In [25]:
def riempi(lista, n):
  i = 0
  while i < len(lista):
    lista[i] = n
    i = i+1
  
  print(lista)

In [26]:
lista = [1,2,4,6,8,7]

riempi(lista, 5)

[5, 5, 5, 5, 5, 5]