<a href="https://colab.research.google.com/github/MichelaPascale/AI_Python/blob/main/Homework/Homework6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Homework 6**

##**Ex 1**

Considerate una tabella 8 x 8 da usare come scacchiera in un gioco
da tavolo. Definirla come array realizzato mediante liste Python.
Usando due cicli annidati, inizializzare la tabella in modo che
contenga valori 0 e 1 alternati, come le caselle bianche e nere nella
scacchiera per il gioco degli scacchi.

In [ ]:
import array

In [ ]:
def pari(x):
  return x % 2 == 0

In [ ]:
scacchiera = list()

round = 1
riga = 0
val = 0

while riga <= 1:
  righe = list()
  colonna = 0

  while colonna <= 7:

    if pari(colonna):
      if pari(round):
        val = 1
      else:
        val = 0
    else:
      if pari(round):
        val = 0
      else:
        val = 1
    
    righe.append(val)
    colonna = colonna + 1
  
  round = round + 1
  riga = riga + 1
  scacchiera.append(righe)

sc = scacchiera * 4
print(sc)

[[0, 1, 0, 1, 0, 1, 0, 1], [1, 0, 1, 0, 1, 0, 1, 0], [0, 1, 0, 1, 0, 1, 0, 1], [1, 0, 1, 0, 1, 0, 1, 0], [0, 1, 0, 1, 0, 1, 0, 1], [1, 0, 1, 0, 1, 0, 1, 0], [0, 1, 0, 1, 0, 1, 0, 1], [1, 0, 1, 0, 1, 0, 1, 0]]

In [ ]:
scac = np.array(sc)
scac.reshape(8,8)

array([[0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0]])

##**Ex 2**

Data una lista di numeri, sostituire il valore minimo con lo zero. Se
lo stesso valore minimo ricorre piÃ¹ volte, sostituirne soltanto uno.
Trovare una soluzione senza scandire esplicitamente la lista con cicli
iterativi.

In [5]:
def del_min(l):
  l.remove(min(l))
  print(l)

In [1]:
lista = [4, 32, 5, 7, 2, 4, 5, 9, 8, 2, 30]

min = min(lista)
lista.remove(min)
print(lista)

[4, 32, 5, 7, 4, 5, 9, 8, 2, 30]

In [ ]:
lista = [4, 32, 5, 7, 2, 4, 5, 9, 8, 2, 30]

del_min(lista)