<a href="https://colab.research.google.com/github/MichelaPascale/AI_Python/blob/main/Homework/Homework3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Fattoriale**

In [3]:
def fattoriale(n):
  if (n==0):
    return 1
  else:
    return n*fattoriale(n-1)

In [4]:
# ESERCIZIO 1.
# Dato un intero positivo n, scrivere una funzione Python che calcola il fattoriale dei numeri interi da 1 a n.

n = int(input('Inserire il numero: '))

lista_fattoriali_da_1_a_n = list()

count = 1
while(count <= n):
  fatt = fattoriale(count)
  print('Il fattoriale di ' + '%s' %count + ' è: '+ "%s" %fatt);
  lista_fattoriali_da_1_a_n.append(fatt)
  count = count + 1

print('Ecco la lista dei fattoriali da 1 a ' + '%d' %n + ': %s' %lista_fattoriali_da_1_a_n);

Inserire il numero: 10
Il fattoriale di 1 è: 1
Il fattoriale di 2 è: 2
Il fattoriale di 3 è: 6
Il fattoriale di 4 è: 24
Il fattoriale di 5 è: 120
Il fattoriale di 6 è: 720
Il fattoriale di 7 è: 5040
Il fattoriale di 8 è: 40320
Il fattoriale di 9 è: 362880
Il fattoriale di 10 è: 3628800
Ecco la lista dei fattoriali da 1 a 10: [1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [1]:
# VERSIONE PIU' EFFICIENTE DI QUELLA SOPRA

def fatt(n):
  if n<=1 :
    return [1]
  else:
    lista_fatt = fatt(n-1)  #con fatt(n-1) restituisco la lista dei fattoriali di n-1 => devo aggiungerci n
    lista_fatt.append(lista_fatt[-1] * n) #restituisco l'ultimo elemento moltiplicato per n
    return lista_fatt

In [2]:
fatt(10)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

##**Fibonacci**

In [6]:
#Funzione che calcola una sequenza dei primi n elementi della seq di Fibonacci (i primi due elementi sommati danno il terzo)

def fibonacci(n):
  if n == 2 :
    return [1, 1]  #primi due elementi della lista
  else:
    seq_fibo = fibonacci(n-1)
    seq_fibo.append(seq_fibo[-1] + seq_fibo[-2])  #somma degli ultimi due elementi
    return seq_fibo

In [7]:
fibonacci(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [8]:
# VERSIONE ITERTIVA

def fibo_iter(n):
  seq_fibo = [1,1]

  for i in range(2,n):
    seq_fibo.append(seq_fibo[-1] + seq_fibo[-2])

  return seq_fibo

In [9]:
fibo_iter(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [10]:
# VERSIONE RICORSIVA

def fibo_ric(n):
  if n < 2 :
    return n
  else:
    return fibo_ric(n-1) + fibo_ric(n-2)  #restituisco l'ultimo elemento

In [11]:
fibo_ric(10)

55

In [12]:
def fib_it(n):
  x,y = 0,1

  for i in range(1,n):
    x,y = y,x + y
  return y

In [13]:
fib_it(10)

55

##**Ex 3**

In [14]:
# Scambiare le due semiliste

lista = [0,1,2,3,4,5,6,7]

In [15]:
n = len(lista)
n

8

In [16]:
lista = lista[n//2:] + lista[:n//2]  #utilizzo dello slice e concatenazione delle due liste
lista

[4, 5, 6, 7, 0, 1, 2, 3]

##**Ex 4**

In [18]:
def cost(x):
  return 1

def lin(x):
  return x

def quad(x):
  return x**2

def cubo(x):
  return x**3

In [20]:
lista_funz = [cost, lin, quad, cubo]

In [21]:
cubo(4)

64

In [22]:
lista_funz[3](4)

64

In [23]:
# DEFINIZIONE ANONIMA

lista_funzioni = [lambda x: 1.,
                  lambda x: x,
                  lambda x: x**2,
                  lambda x: x**3]

In [24]:
lista_funzioni[3](4)

64